/* begin Page */

#cibec-main, table
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.cibec-postcontent,
.cibec-postheadericons,
.cibec-postfootericons,
.cibec-blockcontent-body,
ul.cibec-vmenu a 
{
   text-align: left;
}

.cibec-postcontent,
.cibec-postcontent li,
.cibec-postcontent table,
.cibec-postcontent a,
.cibec-postcontent a:link,
.cibec-postcontent a:visited,
.cibec-postcontent a.visited,
.cibec-postcontent a:hover,
.cibec-postcontent a.hovered
{
   font-family: Arial, Helvetica, Sans-Serif;
}

.cibec-postcontent p
{
   margin: 12px 0;
}

.cibec-postcontent h1, .cibec-postcontent h1 a, .cibec-postcontent h1 a:link, .cibec-postcontent h1 a:visited, .cibec-postcontent h1 a:hover,
.cibec-postcontent h2, .cibec-postcontent h2 a, .cibec-postcontent h2 a:link, .cibec-postcontent h2 a:visited, .cibec-postcontent h2 a:hover,
.cibec-postcontent h3, .cibec-postcontent h3 a, .cibec-postcontent h3 a:link, .cibec-postcontent h3 a:visited, .cibec-postcontent h3 a:hover,
.cibec-postcontent h4, .cibec-postcontent h4 a, .cibec-postcontent h4 a:link, .cibec-postcontent h4 a:visited, .cibec-postcontent h4 a:hover,
.cibec-postcontent h5, .cibec-postcontent h5 a, .cibec-postcontent h5 a:link, .cibec-postcontent h5 a:visited, .cibec-postcontent h5 a:hover,
.cibec-postcontent h6, .cibec-postcontent h6 a, .cibec-postcontent h6 a:link, .cibec-postcontent h6 a:visited, .cibec-postcontent h6 a:hover,
.cibec-blockheader .t, .cibec-blockheader .t a, .cibec-blockheader .t a:link, .cibec-blockheader .t a:visited, .cibec-blockheader .t a:hover,
.cibec-vmenublockheader .t, .cibec-vmenublockheader .t a, .cibec-vmenublockheader .t a:link, .cibec-vmenublockheader .t a:visited, .cibec-vmenublockheader .t a:hover,
.cibec-logo-name, .cibec-logo-name a, .cibec-logo-name a:link, .cibec-logo-name a:visited, .cibec-logo-name a:hover,
.cibec-logo-text, .cibec-logo-text a, .cibec-logo-text a:link, .cibec-logo-text a:visited, .cibec-logo-text a:hover,
.cibec-postheader, .cibec-postheader a, .cibec-postheader a:link, .cibec-postheader a:visited, .cibec-postheader a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 31px;
   text-align: left;
}

.cibec-postcontent a
{
   text-decoration: underline;
   color: #0259B1;
}

.cibec-postcontent a:link
{
   text-decoration: underline;
   color: #0259B1;
}

.cibec-postcontent a:visited, .cibec-postcontent a.visited
{
   color: #1F6793;
}

.cibec-postcontent  a:hover, .cibec-postcontent a.hover
{
   text-decoration: none;
   color: #0C95DF;
}

.cibec-postcontent h1
{
   color: #4B7995;
}

.cibec-postcontent h2
{
   color: #4B7995;
   font-size: 20px;
}

.cibec-blockcontent h2
{
   font-size: 20px;
}

.cibec-postcontent h2 a, .cibec-postcontent h2 a:link, .cibec-postcontent h2 a:hover, .cibec-postcontent h2 a:visited, .cibec-blockcontent h2 a, .cibec-blockcontent h2 a:link, .cibec-blockcontent h2 a:hover, .cibec-blockcontent h2 a:visited 
{
   font-size: 20px;
}

.cibec-postcontent h3
{
   color: #4B7995;
   font-size: 18px;
}

.cibec-blockcontent h3
{
   font-size: 18px;
}

.cibec-postcontent h3 a, .cibec-postcontent h3 a:link, .cibec-postcontent h3 a:hover, .cibec-postcontent h3 a:visited, .cibec-blockcontent h3 a, .cibec-blockcontent h3 a:link, .cibec-blockcontent h3 a:hover, .cibec-blockcontent h3 a:visited 
{
   font-size: 18px;
}

.cibec-postcontent h4
{
   color: #04344E;
   margin: 20px 0 5px;
   font-size: 15px;
}

.cibec-blockcontent h4
{
   margin: 20px 0 5px;
   font-size: 15px;
}

.cibec-postcontent h4 a, .cibec-postcontent h4 a:link, .cibec-postcontent h4 a:hover, .cibec-postcontent h4 a:visited, .cibec-blockcontent h4 a, .cibec-blockcontent h4 a:link, .cibec-blockcontent h4 a:hover, .cibec-blockcontent h4 a:visited 
{
   font-size: 15px;
}

.cibec-postcontent h5
{
   color: #04344E;
   font-style: italic;
   font-weight: normal;
   font-size: 15px;
}

.cibec-blockcontent h5
{
   font-style: italic;
   font-weight: normal;
   font-size: 15px;
}

.cibec-postcontent h5 a, .cibec-postcontent h5 a:link, .cibec-postcontent h5 a:hover, .cibec-postcontent h5 a:visited, .cibec-blockcontent h5 a, .cibec-blockcontent h5 a:link, .cibec-blockcontent h5 a:hover, .cibec-blockcontent h5 a:visited 
{
   font-style: italic;
   font-weight: normal;
   font-size: 15px;
}

.cibec-postcontent h6
{
   color: #064A6F;
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
}

.cibec-blockcontent h6
{
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
}

.cibec-postcontent h6 a, .cibec-postcontent h6 a:link, .cibec-postcontent h6 a:hover, .cibec-postcontent h6 a:visited, .cibec-blockcontent h6 a, .cibec-blockcontent h6 a:link, .cibec-blockcontent h6 a:hover, .cibec-blockcontent h6 a:visited 
{
   font-style: italic;
   font-weight: normal;
   font-size: 14px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#cibec-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:scroll;
}

body
{
   padding: 0;
   margin:0;
   min-width: 960px;
   color: #0E2F43;
   background-color: #63AFDE;
   background-image: url('images/Bottom_texture.jpg');
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: top center;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.cibec-box, .cibec-box-body {
   margin:0 auto;
   position:relative;
}
.cibec-box:before, .cibec-box:after, .cibec-box-body:before, .cibec-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.cibec-box:before,.cibec-box-body:before{
   left:0;
}
.cibec-box:after,.cibec-box-body:after{
   right:0;
}
.cibec-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.cibec-box:after {
   background-position: bottom right;
   z-index:-3;
}
.cibec-box-body:before, .cibec-box-body:after {
   background-repeat:repeat-y;
}
.cibec-box-body:before {
   background-position: top left;
   z-index:-3;
}
.cibec-box-body:after {
   background-position: top right;
   z-index:-3;
}

.cibec-box .cibec-box:before, .cibec-box .cibec-box:after, .cibec-box-body .cibec-box-body:before, .cibec-box-body .cibec-box-body:after {
   z-index:-2;
}
.cibec-box .cibec-box .cibec-box:before, .cibec-box .cibec-box .cibec-box:after, .cibec-box-body .cibec-box-body .cibec-box-body:before, .cibec-box-body .cibec-box-body .cibec-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.cibec-bar {
   position:relative;
}
.cibec-bar:before, .cibec-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.cibec-bar:before {
   left:0;
   background-position: top left;
}
.cibec-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .cibec-postcontent li h1, .cibec-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .cibec-postcontent li h2, .cibec-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .cibec-postcontent li h3, .cibec-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .cibec-postcontent li h4, .cibec-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .cibec-postcontent li h5, .cibec-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .cibec-postcontent li h6, .cibec-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .cibec-postcontent li p, .cibec-blockcontent-body li p 
{
   margin:1px;
}

/* end Page */

/* begin Header */
div.cibec-header
{
   margin: 0 auto;
   position: relative;
   z-index: -5;
   width:960px;
   height: 200px;
   margin-top: 7px;
   margin-bottom: -3px;
}
.cibec-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.cibec-header-wrapper 
{
   position: relative;
   top:0;
   width:960px;
   margin:0 auto;
}
.cibec-header-inner 
{
   position: relative;
   margin: 0 4px;
}

.cibec-header:before
{
   position: absolute;
   display:block;
   content:' ';
   z-index:-2;
   top: 0;
   width:100%;
   height: 258px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Logo */
div.cibec-logo
{
   display: block;
   position: absolute;
   top: 86px;
   left: 4%;
   margin-left: -1px;
}



#headline, #slogan 
{
   display: block;
   min-width: 150px;
   text-align: left;
}
/* end Logo */

/* begin Box, Sheet */
.cibec-sheet
{
   max-width:960px;
   margin-top: 7px;
   margin-bottom: -3px;
   cursor:auto;
   width: 960px;
}
.cibec-sheet-body 
{
   padding:4px;
   min-width:28px;
   min-height:28px;
   padding-top:4px;
   padding-bottom:4px;
}
.cibec-sheet:before, .cibec-sheet:after 
{
   content: url('images/sheet_t.png');
   font-size: 0;
   background-image: url('images/sheet_b.png');
}
.cibec-sheet:after{
   clip:rect(auto, auto, auto, 942px);
}
.cibec-sheet:before,.cibec-sheet-body:before{
   right:18px;
}
.cibec-sheet-body:after{
   width: 18px;
   top:18px;
   bottom:18px;
   background-image:url('images/sheet.png');
}
.cibec-sheet-body:before{
   top:18px;
   bottom:18px;
   background-image:url('images/sheet.png');
}

/* end Box, Sheet */

/* begin Layout */
.cibec-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.cibec-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.cibec-content-layout-row {
   display: table-row;
}

.cibec-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.cibec-vmenublock
{
   max-width:952px;
   margin: 5px;
}
.cibec-vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.cibec-vmenublockheader {
   margin-bottom: 4px;
   min-height: 34px;
   line-height:34px;
}
.cibec-vmenublockheader:before, .cibec-vmenublockheader:after{
   background-image: url('images/vmenublockheader.png');
}
.cibec-vmenublockheader:before{
   right: 23px;
}
.cibec-vmenublockheader:after{
   width: 23px;
}

.cibec-vmenublockheader .t
{
   min-height: 34px;
   line-height:34px;
   color: #5487A6;
   font-size: 14px;
   margin:0;
   padding: 0 11px 0 29px;
   white-space: nowrap;
}

.cibec-vmenublockheader .t a,
.cibec-vmenublockheader .t a:link,
.cibec-vmenublockheader .t a:visited, 
.cibec-vmenublockheader .t a:hover
{
   color: #5487A6;
   font-size: 14px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.cibec-vmenublockcontent
{
   max-width:952px;
}
.cibec-vmenublockcontent-body 
{
   padding:1px;
   min-width:8px;
   min-height:8px;
}
.cibec-vmenublockcontent:before, .cibec-vmenublockcontent:after 
{
   content: url('images/vmenublockcontent_t.png');
   font-size: 0;
   background-image: url('images/vmenublockcontent_b.png');
}
.cibec-vmenublockcontent:after{
   content: url('images/vmenublockcontent_t.png');
   font-size: 0;
   background-image: url('images/vmenublockcontent_b.png');
   clip:rect(auto, auto, auto, 947px);
}
.cibec-vmenublockcontent:before,.cibec-vmenublockcontent-body:before{
   right:5px;
}
.cibec-vmenublockcontent-body:after{
   width: 5px;
   top:5px;
   bottom:5px;
   background-image:url('images/vmenublockcontent.png');
}
.cibec-vmenublockcontent-body:before{
   right:5px;
   top:5px;
   bottom:5px;
   background-image:url('images/vmenublockcontent.png');
}

.cibec-vmenublockcontent:before{
   content: url('images/vmenublockcontent_t.png');
   font-size: 0;
   background-image: url('images/vmenublockcontent_b.png');
   right:5px;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.cibec-vmenu, ul.cibec-vmenu ul
{
   list-style: none;
   display: block;
}

ul.cibec-vmenu, ul.cibec-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.cibec-vmenu
{
   margin-top: 4px;
   margin-bottom: 4px;
}

ul.cibec-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position:relative;
   margin-left: 0;
   margin-right: 0;
}

ul.cibec-vmenu ul.active
{
   display: block;
}
/* end VMenu */

/* begin VMenuItem */
ul.cibec-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 13px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.cibec-vmenu li{
   position:relative;
}

ul.cibec-vmenu>li>a 
{
   color: #5487A6;
   padding: 0 10px 0 23px;
   height: 30px;
   line-height: 30px;
   white-space: nowrap;
}

ul.cibec-vmenu>li>a.active {
   color: #FFFFFF;
}
ul.cibec-vmenu a:hover, ul.cibec-vmenu a.active:hover {
   color: #FFFFFF;
}

ul.cibec-vmenu>li>a:before, ul.cibec-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.cibec-vmenu>li>a:before{
   left: 0;
   right: 18px;
   background-position: top left;
}
ul.cibec-vmenu>li>a:after{
   width: 18px;
   right: 0;
   background-position: top right;
}
ul.cibec-vmenu>li>a.active:before {
   background-position: center left;
}
ul.cibec-vmenu>li>a.active:after {
   background-position: center right;
}
ul.cibec-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.cibec-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.cibec-vmenu>li{
   margin-top:0;
}
ul.cibec-vmenu>li>ul{
   margin-top:0;
   padding-bottom: 0;
}
ul.cibec-vmenu>li:first-child{
   margin-top:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.cibec-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.cibec-vmenu li li, ul.cibec-vmenu li li a {
   position:relative;
}

ul.cibec-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 20px;
   overflow: visible;
   background-image: url('images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:40px;
   padding-right:0;
   line-height: 20px;
   color: #086BA0;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.cibec-vmenu ul a.active{
   background-position: bottom left;
}
ul.cibec-vmenu ul a:hover{
   background-position: center left;
   line-height: 20px;
   color: #086BA0;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}
ul.cibec-vmenu ul li li a:hover, ul.cibec-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.cibec-vmenu ul a:after
{
   display: block;
   position:absolute;
   top:6px;
   content:' ';
   width: 5px;
   height: 7px;
   overflow: visible;
   background-image: url('images/vsubitemicon.png');
   background-position: top left;
   background-repeat: no-repeat;
   left:  25px;
}
ul.cibec-vmenu ul a:hover:after{
   background-position: center left;
}
ul.cibec-vmenu ul a.active:hover:after{
   background-position: center left;
}
ul.cibec-vmenu ul a.active:after{
   background-position: bottom left;
}

ul.cibec-vmenu ul a:link, ul.cibec-vmenu ul a:visited, ul.cibec-vmenu ul a:active
{
   line-height: 20px;
   color: #086BA0;
   font-size: 12px;
   margin-left: 0;
   margin-right: 0;
}

ul.cibec-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.cibec-vmenu li li{
   position:relative;
   margin-top:0;
}

ul.cibec-vmenu ul ul a:after{
   left:50px;
}
ul.cibec-vmenu ul ul ul a:after{
   left:75px;
}
ul.cibec-vmenu ul ul ul ul a:after{
   left:100px;
}
ul.cibec-vmenu ul ul ul ul ul a:after{
   left:125px;
}
ul.cibec-vmenu ul ul a{
   padding-left:65px;
}
ul.cibec-vmenu ul ul ul a{
   padding-left:90px;
}
ul.cibec-vmenu ul ul ul ul a{
   padding-left:115px;
}
ul.cibec-vmenu ul ul ul ul ul a{
   padding-left:140px;
}

ul.cibec-vmenu ul li a.active {
   color: #0254A7;
}
ul.cibec-vmenu ul li a:hover, ul.cibec-vmenu ul li a:hover.active {
   color: #1A557A;
}

/* end VMenuSubItem */

/* begin Box, Block */
.cibec-block
{
   max-width:952px;
   margin: 5px;
}
.cibec-block-body 
{
   padding:0;
}

div.cibec-block img
{
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.cibec-blockheader {
   margin-bottom: 4px;
   min-height: 30px;
   line-height:30px;
}
.cibec-blockheader:before, .cibec-blockheader:after{
   background-image: url('images/blockheader.png');
}
.cibec-blockheader:before{
   right: 23px;
}
.cibec-blockheader:after{
   width: 23px;
}

.cibec-blockheader .t
{
   min-height: 30px;
   line-height:30px;
   color: #5487A6;
   font-size: 14px;
   margin:0;
   padding: 0 11px 0 29px;
   white-space: nowrap;
}

.cibec-blockheader .t a,
.cibec-blockheader .t a:link,
.cibec-blockheader .t a:visited, 
.cibec-blockheader .t a:hover
{
   color: #5487A6;
   font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.cibec-blockcontent
{
   max-width:952px;
}
.cibec-blockcontent-body 
{
   padding:8px;
   color: #0D2C3F;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}
.cibec-blockcontent:before, .cibec-blockcontent:after 
{
   content: url('images/blockcontent_t.png');
   font-size: 0;
   background-image: url('images/blockcontent_b.png');
}
.cibec-blockcontent:after{
   clip:rect(auto, auto, auto, 947px);
}
.cibec-blockcontent:before,.cibec-blockcontent-body:before{
   right:5px;
}
.cibec-blockcontent-body:after{
   width: 5px;
   top:5px;
   bottom:5px;
   background-image:url('images/blockcontent.png');
}
.cibec-blockcontent-body:before{
   top:5px;
   bottom:5px;
   background-image:url('images/blockcontent.png');
}
.cibec-blockcontent-body table,
.cibec-blockcontent-body li, 
.cibec-blockcontent-body a,
.cibec-blockcontent-body a:link,
.cibec-blockcontent-body a:visited,
.cibec-blockcontent-body a:hover
{
   color: #0D2C3F;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

.cibec-blockcontent-body a, .cibec-blockcontent-body a:link
{
   color: #086BA0;
   text-decoration: underline;
}

.cibec-blockcontent-body a:visited, .cibec-blockcontent-body a.visited
{
   color: #46A0D8;
   text-decoration: underline;
}

.cibec-blockcontent-body a:hover, .cibec-blockcontent-body a.hover
{
   color: #0B92DA;
   text-decoration: none;
}

.cibec-blockcontent-body ul li
{
   text-decoration: none;
   line-height: 125%;
   color: #021722;
   padding: 0 0 0 12px;
   background-image: url('images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.cibec-button-wrapper>a.cibec-button,
span.cibec-button-wrapper>a.cibec-button:link,
span.cibec-button-wrapper>input.cibec-button,
span.cibec-button-wrapper>button.cibec-button
{
   text-decoration: none;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #053E5C !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 26px;
   height: 26px;
   margin: 0 !important;
   padding: 0 10px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.cibec-button img, span.cibec-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.cibec-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 26px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:952px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.cibec-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

div.cibec-block select 
{
   width:96%;
}

span.cibec-button-wrapper.hover>.cibec-button, span.cibec-button-wrapper.hover>a.cibec-button:link
{
   color: #FFFFFF !important;
   text-decoration: none !important;
}

span.cibec-button-wrapper.active>.cibec-button, span.cibec-button-wrapper.active>a.cibec-button:link
{
   color: #C0DFF2 !important;
}

span.cibec-button-wrapper>span.cibec-button-l, span.cibec-button-wrapper>span.cibec-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('images/button.png');
   background-repeat: no-repeat;
}

span.cibec-button-wrapper>span.cibec-button-l
{
   left: 0;
   right: 4px;
   background-position: top left;
}

span.cibec-button-wrapper>span.cibec-button-r
{
   width: 4px;
   right: 0;
   background-position: top right;
}

span.cibec-button-wrapper.hover>span.cibec-button-l
{
   background-position: center left;
}

span.cibec-button-wrapper.hover>span.cibec-button-r
{
   background-position: center right;
}

span.cibec-button-wrapper.active>span.cibec-button-l
{
   background-position: bottom left;
}

span.cibec-button-wrapper.active>span.cibec-button-r
{
   background-position: bottom right;
}

span.cibec-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.cibec-post
{
   max-width:952px;
   margin: 5px;
}
.cibec-post-body 
{
   padding:0;
}

a img
{
   border: 0;
}

.cibec-article img, img.cibec-article, .cibec-block img, .cibec-footer img
{
   border-color: #B8DBFE;
   border-style:  none;
   border-width: 3px;
   margin: 0 0 0 0;
}

.cibec-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.cibec-article table, table.cibec-article
{
   border-collapse: collapse;
   margin: 1px;
}

.cibec-post .cibec-content-layout-br
{
   height: 0;
}

.cibec-article th, .cibec-article td
{
   padding: 2px;
   border: solid 1px #B8DBFE;
   vertical-align: top;
   text-align: left;
}

.cibec-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

#preview-image
{
   float: left;
   }

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.preview-sharepoint-logo
{
   border: 0;
   margin: 5px;
   float: left;
}
/* end Box, Post */

/* begin PostHeaderIcon */
.cibec-postheader
{
   color: #01407E;
   margin: 10px 0 0 10px;
   line-height: 1em;
   font-size: 24px;
}

.cibec-postheader a, 
.cibec-postheader a:link, 
.cibec-postheader a:visited,
.cibec-postheader a.visited,
.cibec-postheader a:hover,
.cibec-postheader a.hovered
{
   font-size: 24px;
}

.cibec-postheader a, .cibec-postheader a:link
{
   text-decoration: none;
   color: #024D97;
}

.cibec-postheader a:visited, .cibec-postheader a.visited
{
   color: #2475A8;
}

.cibec-postheader a:hover,  .cibec-postheader a.hovered
{
   color: #0C95DF;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.cibec-postheadericons,
.cibec-postheadericons a,
.cibec-postheadericons a:link,
.cibec-postheadericons a:visited,
.cibec-postheadericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
   color: #1D618B;
}

.cibec-postheadericons
{
   padding: 1px;
}

.cibec-postheadericons a, .cibec-postheadericons a:link
{
   text-decoration: underline;
   color: #0971AA;
}

.cibec-postheadericons a:visited, .cibec-postheadericons a.visited
{
   color: #2987C2;
}

.cibec-postheadericons a:hover, .cibec-postheadericons a.hover
{
   text-decoration: none;
   color: #0259B1;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.cibec-postdateicon
{
   background:url('images/postdateicon.png') no-repeat left 0.5em;
   padding-top:8px;
   margin-top:-8px;
   padding-left:22px;
   min-height:16px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.cibec-postauthoricon
{
   background:url('images/postauthoricon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostEditIcon */
span.cibec-postediticon
{
   background:url('images/postediticon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:26px;
   min-height:19px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.cibec-postcontent ol, .cibec-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.cibec-postcontent li
{
   font-size: 13px;
   color: #164969;
   margin: 10px 0 -5px -15px;
   padding: 0 0 0 14px;
}

.cibec-postcontent li ol, .cibec-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.cibec-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.cibec-postcontent ul>li
{
   background-image: url('images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 14px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .cibec-postcontent blockquote a, .cibec-blockcontent blockquote a, .cibec-footer blockquote a,
blockquote a:link, .cibec-postcontent blockquote a:link, .cibec-blockcontent blockquote a:link, .cibec-footer blockquote a:link,
blockquote a:visited, .cibec-postcontent blockquote a:visited, .cibec-blockcontent blockquote a:visited, .cibec-footer blockquote a:visited,
blockquote a:hover, .cibec-postcontent blockquote a:hover, .cibec-blockcontent blockquote a:hover, .cibec-footer blockquote a:hover
{
   color: #064A6F;
   font-style: italic;
   font-weight: normal;
   text-align: justify;
}

/* Override native 'p' margins*/
blockquote p,
.cibec-postcontent blockquote p,
.cibec-blockcontent blockquote p,
.cibec-footer blockquote p
{
   margin: 0;
}

blockquote
{
   margin: 10px;
   padding: 6px;
   background-color: #F0F9FF;
   margin-left: 50px;
   padding-left: 30px;
   background-image: url('images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.cibec-postfootericons,
.cibec-postfootericons a,
.cibec-postfootericons a:link,
.cibec-postfootericons a:visited,
.cibec-postfootericons a:hover
{
   font-family: Arial, Helvetica, Sans-Serif;
   font-size: 12px;
   text-decoration: none;
   color: #164969;
}

.cibec-postfootericons
{
   padding: 1px;
}

.cibec-postfootericons a, .cibec-postfootericons a:link
{
   text-decoration: underline;
   color: #0971AA;
}

.cibec-postfootericons a:visited, .cibec-postfootericons a.visited
{
   color: #2987C2;
}

.cibec-postfootericons a:hover, .cibec-postfootericons a.hover
{
   text-decoration: none;
   color: #0259B1;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.cibec-postcategoryicon
{
   background:url('images/postcategoryicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin PostIcon, PostTagIcon */
span.cibec-posttagicon
{
   background:url('images/posttagicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-posttagicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostTagIcon */

/* begin PostIcon, PostCommentsIcon */
span.cibec-postcommentsicon
{
   background:url('images/postcommentsicon.png') no-repeat left 0.5em;
   padding-top:9px;
   margin-top:-9px;
   padding-left:24px;
   min-height:18px;
   display:inline-block;
   line-height: 1em;
}

span.cibec-postcommentsicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCommentsIcon */

/* begin Footer */
.cibec-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.cibec-footer-body
{
   position:relative;
   padding: 10px;
   color: #000000;
   font-size: 11px;
}

.cibec-footer-body ul li
{
   font-size: 14px;
   line-height: 125%;
   color: #1D618B;
}

.cibec-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.cibec-footer-body a,
.cibec-footer-body a:link,
.cibec-footer-body a:visited,
.cibec-footer-body a:hover,
.cibec-footer-body td, 
.cibec-footer-body th,
.cibec-footer-body caption
{
   color: #000000;
   font-size: 11px;
}

.cibec-footer-text
{
   min-height: 5px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.cibec-footer-body a,
.cibec-footer-body a:link
{
   color: #064A6F;
   text-decoration: underline;
}

.cibec-footer-body a:visited
{
   color: #0259B1;
}

.cibec-footer-body a:hover
{
   color: #0275E8;
   text-decoration: none;
}

div.cibec-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

/* begin PageFooter */
.cibec-page-footer, 
.cibec-page-footer a,
.cibec-page-footer a:link,
.cibec-page-footer a:visited,
.cibec-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #053E5C;
}

.cibec-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #000F1E;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.cibec-content-layout .cibec-sidebar1
{
   width: 250px;
}
/* end LayoutCell, sidebar1 */


div.title{
		font:verdana;
		border: 1px solid lightblue;
		padding: 5px;
		background: lightyellow;
		width: 675px;

	}