/* begin Page */

/* Created by Artisteer v3.1.0.46558 */

.cleared {
   width:1px;
}
/* Start Box */
.cibec-box, .cibec-box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.cibec-bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Header */
.cibec-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='cibec-header-png');
   z-index: 1;
}

.cibec-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 258px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Box, Sheet */
.cibec-sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Layout */
.cibec-content-layout, .cibec-content-layout-row, .cibec-layout-cell 
{
   display: block;
   zoom: 1;
}
.cibec-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.cibec-vmenublock {
   background:#FFFFFF;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.cibec-vmenublockheader {
   background:#E2F0FE;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.cibec-vmenublockcontent {
   background:#F0F7FE;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.cibec-vmenu, ul.cibec-vmenu ul, ul.cibec-vmenu li, ul.cibec-vmenu a
{
   position:relative;
   zoom: 1;
}

ul.cibec-vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'0');
}
ul.cibec-vmenu ul{
   margin-top:0;
   padding-bottom: 0;
}

ul.cibec-vmenu a 
{
   color: #5487A6;
   background-color:#F0F7FE;
   padding: 0 10px 0 23px;
   height: 30px;
   line-height: 30px;
}

.cibec-vmenu a.active 
{
   color: #000000;
   background-color:#F0F7FE;
}

ul.cibec-vmenu a:hover
{
   color: #FFFFFF;
   background-color:#77BAFE;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.cibec-vmenu ul a {
   color: #086BA0 !important;
}
ul.cibec-vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.cibec-vmenu ul ul {
   margin-top:0;
}
ul.cibec-vmenu ul a.active {
   color: #0254A7 !important;
}
ul.cibec-vmenu ul a:hover {
   color: #1A557A !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.cibec-block {
   background:#FFFFFF;
}
/* end Box, Block */

/* begin BlockHeader */
.cibec-blockheader {
   background:#E2F0FE;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.cibec-blockcontent {
   background:#F4F9FC;
}
.cibec-blockcontent-body ul li{
   height: 1%;
}

/* end Box, BlockContent */

/* begin Button */
.cibec-button-wrapper{
   zoom: 1;
}
.cibec-button-wrapper .cibec-button-l, .cibec-button-wrapper .cibec-button-r {
   display: none;
}
.cibec-button-wrapper .cibec-button {
   float: left;
}
/* end Button */

/* begin Box, Post */
.cibec-post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin PostIcons, PostHeaderIcons */
.cibec-postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.cibec-post ul li, .cibec-post ol ul li
{
   height: 1%;
   padding-left: 14px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.cibec-post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostIcons, PostFooterIcons */
.cibec-postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.cibec-footer-body{
   padding-right: 0;
   zoom:1;
}
.cibec-footer{
   zoom:1;
   background:#FFFFFF;
}

.cibec-footer-text
{
   height: 5px;
}

/* end Footer */

/* begin LayoutCell, content */
.cibec-content {
   width: auto;
}
/* end LayoutCell, content */

