/* begin Page */

/* Start Box */
.cibec-box {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='cibec-box-'+e[ i]}('br,bl,cr,cl,tr,tl'.split(',')));
}
.cibec-box-body {
   zoom:1;
}
.cibec-box-tl, .cibec-box-tr, .cibec-box-cl, .cibec-box-cr, .cibec-box-bl, .cibec-box-br {
   position:absolute;
   display:block;
   top:0;
   bottom:0;
   background-repeat: no-repeat;
}
.cibec-box-tl,.cibec-box-bl,.cibec-box-cl {
   left:0;
}
.cibec-box-tr,.cibec-box-br,.cibec-box-cr {
   right:0;
}
.cibec-box-cl, .cibec-box-cr {
   background-repeat:repeat-y;
}
.cibec-box-tl {
   background-position: top left;
   z-index:-3;
}
.cibec-box-tr {
   background-position: top right;
   z-index:-3;
}
.cibec-box-cl {
   background-position: center left;
   z-index:-3;
}
.cibec-box-cr {
   background-position: center right;
   z-index:-3;
}
.cibec-box-bl {
   background-position: bottom left;
   z-index:-3;
}
.cibec-box-br {
   background-position: bottom right;
   z-index:-3;
}

.cibec-box .cibec-box-tl,.cibec-box .cibec-box-tr,.cibec-box .cibec-box-cl,.cibec-box .cibec-box-cr,.cibec-box .cibec-box-bl,.cibec-box .cibec-box-br{
   z-index:-2;
}
.cibec-box .cibec-box .cibec-box-tl,.cibec-box .cibec-box .cibec-box-tr,.cibec-box .cibec-box .cibec-box-cl,.cibec-box .cibec-box .cibec-box-cr,.cibec-box .cibec-box .cibec-box-bl,.cibec-box .cibec-box .cibec-box-br{
   z-index:-1;
}
/* End Box */

/* Start Bar */
.cibec-bar {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='cibec-bar-'+e[ i]}('r,l'.split(',')));
}
.cibec-bar-l, .cibec-bar-r {
   position:absolute;
   z-index:-1;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat-y;
}
.cibec-bar-l {
   left:0;
   background-position: top left;
}
.cibec-bar-r {
   right:0;
   background-position: top right;
}
/* End Bar */

/* end Page */

/* begin Header */
.cibec-header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='cibec-header-png');
   z-index: 1;
}

.cibec-header-png
{
   position: absolute;
   z-index:-2;
   top: 0;
   width:100%;
   height: 258px;
   background-image: url('images/header.png');
   background-repeat: no-repeat;
   background-position:top center;
}

/* end Header */

/* begin Box, Sheet */
.cibec-sheet>.cibec-box-tl, .cibec-sheet>.cibec-box-tr{
   background-image: url('images/sheet_t.png');
}
.cibec-sheet>.cibec-box-bl, .cibec-sheet>.cibec-box-br {
   background-image: url('images/sheet_b.png');
}
.cibec-sheet>.cibec-box-tl, .cibec-sheet>.cibec-box-bl, .cibec-sheet>.cibec-box-cl{
   right:18px;
}
.cibec-sheet>.cibec-box-tr, .cibec-sheet>.cibec-box-br, .cibec-sheet>.cibec-box-cr{
   width: 18px;
}
.cibec-sheet>.cibec-box-cl, .cibec-sheet>.cibec-box-cr{
   top:18px;
   bottom:18px;
   background-image:url('images/sheet.png');
}
/* end Box, Sheet */

/* begin Layout */
.cibec-content-layout, .cibec-content-layout-row, .cibec-layout-cell 
{
   display: block;
   zoom: 1;
}
.cibec-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin BlockHeader, VMenuBlockHeader */
.cibec-vmenublockheader>.cibec-bar-l, .cibec-vmenublockheader>.cibec-bar-r{
   background-image: url('images/vmenublockheader.png');
}
.cibec-vmenublockheader>.cibec-bar-l{
   right: 23px;
}
.cibec-vmenublockheader>.cibec-bar-r{
   width: 23px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.cibec-vmenublockcontent>.cibec-box-tl, .cibec-vmenublockcontent>.cibec-box-tr{
   background-image: url('images/vmenublockcontent_t.png');
}
.cibec-vmenublockcontent>.cibec-box-bl, .cibec-vmenublockcontent>.cibec-box-br {
   background-image: url('images/vmenublockcontent_b.png');
}
.cibec-vmenublockcontent>.cibec-box-tl, .cibec-vmenublockcontent>.cibec-box-bl, .cibec-vmenublockcontent>.cibec-box-cl{
   right:5px;
}
.cibec-vmenublockcontent>.cibec-box-tr, .cibec-vmenublockcontent>.cibec-box-br, .cibec-vmenublockcontent>.cibec-box-cr{
   width: 5px;
}
.cibec-vmenublockcontent>.cibec-box-cl, .cibec-vmenublockcontent>.cibec-box-cr{
   top:5px;
   bottom:5px;
   background-image:url('images/vmenublockcontent.png');
}
.cibec-vmenublockcontent>.cibec-box-tl, .cibec-vmenublockcontent>.cibec-box-tr{
   background-image: url('images/vmenublockcontent_t.png');
}
.cibec-vmenublockcontent>.cibec-box-bl, .cibec-vmenublockcontent>.cibec-box-br {
   background-image: url('images/vmenublockcontent_b.png');
}
.cibec-vmenublockcontent>.cibec-box-tl, .cibec-vmenublockcontent>.cibec-box-bl, .cibec-vmenublockcontent>.cibec-box-cl{
   right:5px;
}
.cibec-vmenublockcontent>.cibec-box-tr, .cibec-vmenublockcontent>.cibec-box-br, .cibec-vmenublockcontent>.cibec-box-cr{
   width: 5px;
}
.cibec-vmenublockcontent>.cibec-box-cl, .cibec-vmenublockcontent>.cibec-box-cr{
   top:5px;
   bottom:5px;
   background-image:url('images/vmenublockcontent.png');
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.cibec-vmenu, ul.cibec-vmenu ul, ul.cibec-vmenu li{
   zoom: 1;
}
ul.cibec-vmenu>li>a{
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('span'),firstChild).className='cibec-vmenu-'+e[ i]}('r,l'.split(',')));
}
ul.cibec-vmenu>li>a>span.cibec-vmenu-l, ul.cibec-vmenu>li>a>span.cibec-vmenu-r
{
   position: absolute;
   display: block;
   z-index:-1;
   background-image: url('images/vmenuitem.png');
   top:0;
   height:30px;
}

ul.cibec-vmenu>li>a>span.cibec-vmenu-l{
   left: 0;
   right: 18px;
   background-position: top left;
}
ul.cibec-vmenu>li>a>span.cibec-vmenu-r{
   width: 18px;
   right: 0;
   background-position: top right;
}
ul.cibec-vmenu>li>a.active>span.cibec-vmenu-l {
   background-position: bottom left;
}
ul.cibec-vmenu>li>a.active>span.cibec-vmenu-r {
   background-position: bottom right;
}
ul.cibec-vmenu>li>a:hover>span.cibec-vmenu-l  {
   background-position: center left;
}
ul.cibec-vmenu>li>a:hover>span.cibec-vmenu-r {
   background-position: center right;
}

ul.cibec-vmenu .cibec-vmenu-separator, ul.cibec-vmenu .cibec-vmenu-separator-bg
{
   display: block;
   position:absolute;
   left:0;
   right:0;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.cibec-vmenu ul a{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='cibec-vmenu-icon');
}
ul.cibec-vmenu ul a>span.cibec-vmenu-icon
{
   display: block;
   position:absolute;
   top:6px;
   width: 5px;
   height: 7px;
   overflow: visible;
   background-image: url('images/vsubitemicon.png');
   background-position: top left;
   background-repeat: no-repeat;
   left:  25px;
}

ul.cibec-vmenu ul a:hover>span.cibec-vmenu-icon{
   background-position: center left;
}
ul.cibec-vmenu ul a.active:hover>span.cibec-vmenu-icon{
   background-position: center left;
}
ul.cibec-vmenu ul a.active>span.cibec-vmenu-icon{
   background-position: bottom left;
}

ul.cibec-vmenu ul ul a>span.cibec-vmenu-icon{
   left:50px;
}
ul.cibec-vmenu ul ul ul a>span.cibec-vmenu-icon{
   left:75px;
}
ul.cibec-vmenu ul ul ul ul a>span.cibec-vmenu-icon{
   left:100px;
}
ul.cibec-vmenu ul ul ul ul ul a>span.cibec-vmenu-icon{
   left:125px;
}

/* end VMenuSubItem */

/* begin BlockHeader */
.cibec-blockheader>.cibec-bar-l, .cibec-blockheader>.cibec-bar-r{
   background-image: url('images/blockheader.png');
}
.cibec-blockheader>.cibec-bar-l{
   right: 23px;
}
.cibec-blockheader>.cibec-bar-r{
   width: 23px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.cibec-blockcontent>.cibec-box-tl, .cibec-blockcontent>.cibec-box-tr{
   background-image: url('images/blockcontent_t.png');
}
.cibec-blockcontent>.cibec-box-bl, .cibec-blockcontent>.cibec-box-br {
   background-image: url('images/blockcontent_b.png');
}
.cibec-blockcontent>.cibec-box-tl, .cibec-blockcontent>.cibec-box-bl, .cibec-blockcontent>.cibec-box-cl{
   right:5px;
}
.cibec-blockcontent>.cibec-box-tr, .cibec-blockcontent>.cibec-box-br, .cibec-blockcontent>.cibec-box-cr{
   width: 5px;
}
.cibec-blockcontent>.cibec-box-cl, .cibec-blockcontent>.cibec-box-cr{
   top:5px;
   bottom:5px;
   background-image:url('images/blockcontent.png');
}
/* end Box, BlockContent */

/* begin PostIcons, PostHeaderIcons */
.cibec-postheadericons span{
   zoom: 1;
}/* end PostIcons, PostHeaderIcons */

/* begin PostContent */
.cibec-postcontent {
   height: 1%;
}
/* end PostContent */

/* begin PostIcons, PostFooterIcons */
.cibec-postfootericons span{
   zoom: 1;
}/* end PostIcons, PostFooterIcons */

/* begin Footer */
.cibec-footer {
   zoom:expression(runtimeStyle.zoom=1,function(e){for(var i=0;i<e.length;i++)insertBefore(document.createElement('div'),firstChild).className='cibec-footer-'+e[ i]}('r,l,t'.split(',')));
}
.cibec-footer-body 
{
   zoom: 1;
   padding-right: 0;
}

/* end Footer */

/* begin LayoutCell, content */
.cibec-content 
{
   width: auto;
   float:none;
}
/* end LayoutCell, content */

